target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build
nbbuild
dist
nbdist
.nb-gradle

### Compiled output ###
dist
tmp
out-tsc
ui-src

### Dependencies ###
node_modules
node

### IDE - VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Misc ###
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings

### System Files ###
.DS_Store
Thumbs.db
